# HEREMAP
A framework to simplify use of HERE Maps, which a bunch of high level functions.
In additiopnal, allows use of Geocoding and routing with Node.js

See examples in the demo directory, starting with demo/demo-basic.html

## Installation

1/ For use in Node.js, install the package:

	npm install --save-dep heremap

To use in a js file

	const hm = require("heremap");

	hm.config({
		app_id: "YOUR APP_ID",
		app_code: "YOUR APP_CODE",
	});
	
	let res = await hm.geocode("avenue des champs elysees, paris);
	console.log(res.coord);


2/ For use in browser, add these lines in your html file

	<link rel="stylesheet" type="text/css" href="http://www.unpkg.com/heremap@2.0.1/css/heremap.css" />


	<script src="http://www.unpkg.com/heremap@2.0.2/dist/libhere.min.js" type="text/javascript" charset="utf-8"></script>
    	<script src="http://www.unpkg.com/heremap@2.0.2/dist/heremap.min.js" type="text/javascript" charset="utf-8"></script>

	<div id="map"></div>
  
Then in your JS script:

	const hm = window.heremap;

	hm.config({
		app_id: "YOUR APP_ID",
		app_code: "YOUR APP_CODE",
	});

	hm.map("map", {
		zoom:5,
		center: [48.8,2.3],
		click: function(coord,button,key) {console.log("clicked on",coord,"with button",button);}
	});



{{>main}}

* * *

&copy; 2018-2019 devbab